<!doctype html>
<html>
  <head>
    <title><%= @config.title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1><a href="/"><%= @config.title %></a></h1>
    <p><%= glorify @config.description %></p>
    <%= yield %>
  </body>
</html>
